In [1]:
import tarfile,sys
import pandas as pd
import os
import simplejson
 
def untar(fname):
    if (fname.endswith("tar") or fname.endswith("tgz") ):
        tar = tarfile.open(fname)
        tar.extractall()
        tar.close()
        print "Extracted in Current Directory"
    else:
        print "Not a tar.gz file: '%s '" % sys.argv[0]

In [2]:
untar('shared_task_data.tar')

Extracted in Current Directory

In [3]:
for i in range(1,2): 
    fpath='final_training_data/'+str(i)+'.tgz'
    untar(fpath)

Extracted in Current Directory

In [5]:
userInfo=pd.read_csv('anonymized_user_info_by_chunk.csv')

In [130]:
data=pd.DataFrame()
for index, row in userInfo.iterrows():
    user=row['anonymized_screen_name']+'.tweets'
    if os.path.isfile(user): 
        print 'Reading file '+user
        try: 
            temp=pd.read_json(str(user), lines=True)
            #temp['insomnia_index'] = (temp[temp.created_at.hour > 21].sum()-temp[temp.created_at.hour <= 21].sum())/temp.shape[0]
            temp['class'] = row['condition']
            if data.empty:
                data=temp
            else: 
                data.append(temp)
        except:
            print "Bad File!"

Reading file p1oWIeRy95.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file u6Q1cPYaegBS.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file q5nbV1Dwkx3Uz8y.tweets
INSIDE
<type 'str'>
Bad File!
Reading file cpZb1zL.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file nC8trwq.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file mbKpnEfzJFe.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file sdfBjrV9y.tweets
INSIDE
<type 'str'>
Bad File!
Reading file cMwx3Gi9RuskPTa.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file gnau5VYmZon.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file w5zZbsisYcaA.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file iBjhOmD.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file q69HY7gQXtabz.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file rHk1BCuEdYFyMB.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file ee7ABQXno.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file g15QMjE.tweets
INSIDE
<type 'str'>
Bad File!
Reading file htBBgz9n8CLGzlp.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file c_i5fdp13L.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file kOjd8viHuHSdxwg.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file pmbLyHCL.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE
Reading file unI7OUqGI.tweets
INSIDE
<type 'str'>
READ
HEREEEEEEEEEE

In [133]:
#Select the required columns
data[['created_at','favorite_count']]

              created_at  favorite_count
0    2013-11-28 04:34:43               1
1    2013-11-28 04:34:22               1
2    2013-11-28 04:34:10               0
3    2013-11-28 04:34:01               1
4    2013-11-27 20:18:00               0
5    2013-11-27 19:48:41               0
6    2013-11-27 19:48:27               0
7    2013-11-27 19:46:16               1
8    2013-11-27 19:46:02               0
9    2013-11-27 19:43:49               1
10   2013-11-27 19:41:36               2
11   2013-11-27 19:29:18               0
12   2013-11-27 19:19:59               0
13   2013-11-27 19:19:54               0
14   2013-11-27 19:19:38               0
15   2013-11-27 19:19:11               1
16   2013-11-27 19:18:59               0
17   2013-11-27 19:16:01               1
18   2013-11-27 19:14:25               0
19   2013-11-27 19:11:04               0
20   2013-11-27 18:45:09               0
21   2013-11-27 18:44:54               1
22   2013-11-27 18:44:39               0
23   2013-11-27 18:42:17               0
24   2013-11-27 18:41:47               1
25   2013-11-27 18:41:41               1
26   2013-11-27 04:22:50               0
27   2013-11-27 04:22:31               0
28   2013-11-27 04:21:38               0
29   2013-11-27 04:21:21               0
...                  ...             ...
2970 2013-11-07 02:43:38               0
2971 2013-11-07 02:40:56               0
2972 2013-11-07 02:40:33               0
2973 2013-11-07 02:40:30               0
2974 2013-11-07 02:39:48               0
2975 2013-11-07 02:39:19               0
2976 2013-11-07 02:37:56               0
2977 2013-11-07 02:37:45               0
2978 2013-11-07 02:35:50               1
2979 2013-11-07 02:32:26               2
2980 2013-11-07 02:28:24               2
2981 2013-11-07 02:27:55               0
2982 2013-11-07 02:26:26               0
2983 2013-11-07 02:21:32               0
2984 2013-11-07 02:08:54               1
2985 2013-11-07 02:07:19               0
2986 2013-11-07 02:04:20               0
2987 2013-11-07 02:03:13               0
2988 2013-11-07 02:02:40               1
2989 2013-11-07 01:59:32               5
2990 2013-11-07 01:53:54               0
2991 2013-11-07 01:49:58               0
2992 2013-11-07 01:49:36               0
2993 2013-11-07 01:43:53               0
2994 2013-11-07 01:39:01               0
2995 2013-11-07 01:39:01               0
2996 2013-11-07 01:39:01               0
2997 2013-11-07 01:39:01               0
2998 2013-11-07 01:39:01               0
2999 2013-11-07 01:39:01               0

[3000 rows x 2 columns]

In [ ]:
entities=data.entities.apply(pd.Series)
screen_name_stats=data.screen_name_statistics.apply(pd.Series)
user =data.user.apply(pd.Series)

In [124]:
#insomnia index 
temp=pd.read_json('mbKpnEfzJFe.tweets', lines=True)
#temp['insomnia_index'] = ( (pd.to_datetime(temp["created_at"]).dt.hour > 21).sum() - (pd.to_datetime(temp["created_at"]).dt.hour <= 21).sum() )/temp.shape[0]

In [81]:
import numpy as np
#first person 
first =  ["i", "i'd", "i'll", "i'm", "i've", "me", "my"]
temp['firstperson'] =temp['text'].str.lower().str.split()
count_fp = 0
for i in temp['text']:
    count_fp += len(set(i) & set(first))

In [83]:
temp['firstperson'] = count_fp

In [85]:
#tsugawa_terms 
tsugawa_terms = ["even if", "low fever", "very", "workplace", "hopeless", "disappear", "too much", "sickness", "bad", "hospital"]
temp_words =temp['text'].str.lower().str.split()
count_tsugawa = 0
for i in temp['text']:
    count_tsugawa += len(set(i) & set(tsugawa_terms))
count_final = count_tsugawa/len(temp["text"])

In [86]:
temp['tsugawa'] = count_final

In [98]:
from textblob import TextBlob
avg = 0
for i in temp['text']:
    blob = TextBlob(i)
    sentiment = blob.sentiment.polarity
    avg += sentiment
    avg_sentiment = avg / len(temp['text'])

In [99]:
avg_sentiment

0.09276089973314794